.statistics_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  font-size: 25px;
  color: #21618c;
}

.statistics_item__label {
  padding: 2px 0;
}

.statistics_item__quantity {
  padding-left: 5px;
  width: 70px;
}
